.score-keeper-container
{
  background-color: #ffcc99;
  min-height: 100vh;
  padding: 10px;
}
.img-basket{
  width: ;
  height: 100px;
  display: block;
  margin: auto;
}
.score-keeper-heading{
  text-align: center;
}